@{
    ViewBag.Title = "Membership Management";
}
<h2>
    @ViewBag.Title</h2>
<h3>
    Users membership and permissions management</h3>
<p>
    At these area you can manage users, permissions, website areas, modules and pages<br /><br />
    
    <span class="alert">This area is of restricted access</span>
</p>
