<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MembershipSchemaEntities" connectionString="metadata=res://*/MembershipProvider.csdl|res://*/MembershipProvider.ssdl|res://*/MembershipProvider.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2k8;initial catalog=MembershipSchema;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>